@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background: #fff1;
  border-radius: 1rem;
  position: relative;
}

a{
  display: block;
  text-decoration: underline;
  text-decoration-color: #fff8;
}

pre{
  font-size: 0.8em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
